<p id="notice"><%= notice %></p>

<ul id="gallery">
   <% @user_items.each do |item| %>

    <li class="gallery-card">
        <span>
          <h1 class="card-title">
            <%= link_to item.name, "https://github.com/#{item.user}/#{item.reponame}", :class => 'title-link' %>
            <%= link_to item.user, "/users/#{item.user}", :class => 'author-filter' %>
  
          </h1>

          <p class="card-description"><%= item.description %></p>

          <ul class="tags">
            <% item.tags.each do |tag| %>
             <li class="tag-list-item"><a href="" class="tag"><%= tag %></a></li>
            <% end %>
          </ul>

          <ul class="ghub-info">
            <li class="last-updated">Last Updated: 12/34/56</li>
            <li class="ghub-stars">Github Stars: 9,999</li>
          </ul>
        </span>
      </li>
   <% end %>
</ul>

