 
  <header>
      <div class="title-cta">
        <h1 class="page-title">Sassy Toolbox</h1>
        <p class="page-description">A place to find the Sassiest of tools.</p>
        <a class="button" href="#connect-github" data-add-project>Add Your Project</a>
      </div>

      <div class="add-project">
        <h4 class="add-project-title">Adding a Project</h4>
        <ol class="instruction-list">
          <li>
            <p>Add <code>sassmanifest.json</code> to your public repo and include the required info:</p>
<pre><code>{
  "name": "project-name",
  "description": "Description of project",
  "tags": ["ui", "buttons", "etc"]
}</pre></code>
          </li>
          <li>
            <p>Enter your project SSH clone URL:</p>

           <%= render 'form' %>

         
          </li>
        </ol>
        <a class="cancel-button" title="Cancel" href="#" data-cancel-project>&times;</a>
      </div>
    </header>


<ul id="gallery">
   <% @items.each do |item| %>

    <li class="gallery-card">
        <span>
          <h1 class="card-title">
            <%= link_to item.name, "https://github.com/#{item.user}/#{item.reponame}", :class => 'title-link' %>
            <%= link_to item.user, "/users/#{item.user}", :class => 'author-filter' %>
  
          </h1>

          <p class="card-description"><%= item.description %></p>

          <ul class="tags">
            <% item.tags.each do |tag| %>
             <li class="tag-list-item"><a href="" class="tag"><%= tag %></a></li>
            <% end %>
          </ul>

          <ul class="ghub-info">
            <li class="last-updated">Last Updated: <%= l item.last_push_date, :format => :short %> </li>
            <li class="ghub-stars">Github Stars: <%= item.watchers %></li>
          </ul>
        </span>
      </li>
   <% end %>
</ul>



<br>

<%= link_to 'New Item', new_item_path %>
